PedidosBPEL/src/StockService/localhost_8080/ProviderShop/StockService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xs:schema xmlns:tns="http://shop.provider.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://shop.provider.com/">

<xs:element name="checkStock" type="tns:checkStock"/>

<xs:element name="checkStockResponse" type="tns:checkStockResponse"/>

<xs:element name="dispachOrder" type="tns:dispachOrder"/>

<xs:element name="dispachOrderResponse" type="tns:dispachOrderResponse"/>

<xs:complexType name="dispachOrder">
<xs:sequence>
<xs:element name="orderNo" type="xs:int"/>
<xs:element name="paymentReceipt" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dispachOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkStock">
<xs:sequence>
<xs:element name="productId" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkStockResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>